<html>
  <head>
  <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>



<script type="text/javascript">
function myFunction(elem) {
  var x = document.getElementById(elem);
  if (x.style.display === "none") {
    x.style.display = "block";
    //$("#"+elem+ " img").css({"width":"400px","height":"200px"})
  } else {
    x.style.display = "none";
    //$("#"+elem+ " img").css({"width":"150px","height":"100px"})
  }
}
</script>




<script type="text/javascript">
  $(function(){
    $('img').mouseenter(function(){
      var wValue=3 * $(this).width();
      var hValue=3 * $(this).height();    
      $(this).stop().animate({width: wValue,
              height: hValue,
              left:("-"+(0.5 * $(this).width())/2),
              top:("-"+(0.5 * $(this).height())/2)}, 1000);
    }).mouseleave(function(){
      $(this).stop().animate({width:150,
                     height: 130,
                     left:"0px",
                     top:"0px"}, 1000 );
    });
  });
</script>


    <h3>1. Holistic Result</h3>


    __placeholder_holistic_content
    <HR style="border:1 dashed #987cb9" width="100%" color="gray" SIZE=2>  
    <!------------------------------------------------------------------------- -->

    <h3>2. Break-down Performance</h3>

    __placeholder_breakdown_content



    <HR style="border:1 dashed #987cb9" width="100%" color="gray" SIZE=2>  
    <!------------------------------------------------------------------------- -->

    <!------------------------------------------------------------------------- -->
    <h3>3. Self-diagnosis </h3>

    __placeholder_selfdiag_content


    <HR style="border:1 dashed #987cb9" width="100%" color="gray" SIZE=2>  
    <!------------------------------------------------------------------------- -->


    <h3>4. Aided-diagnosis </h3>
    <li><b>Model Setting:</b> <i>__placeholder_aideddiag_A-B</i></li>
    __placeholder_aideddiag_content

    <HR style="border:1 dashed #987cb9" width="100%" color="gray" SIZE=2>  
    <!------------------------------------------------------------------------- -->

    <h3>5. Heatmap </h3>
    <li><b>Model Setting:</b> <i>__placeholder_aideddiag_A-B</i></li>
    __placeholder_aideddiag_heatmap_content




  </body>
</html>




